body{
	overflow-x: hidden;
}

.social, .copyright{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.social-icons{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.social-icons li{
	list-style-type: none;
	margin-left: 15px;
}
/*Notification*/
.hide{
  display: none;
}
/* **************** */
/* Alerts */
.alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 99999999 !important;
}

.success {
  color: #fff;
  background-color: #38c100;
  border-color: #d6e9c6;
  display: none;
}

.failure {
  color: #fff;
  background-color: #bd0000;
  border-color: #ebccd1;
  display: none;
}

.warning {
  color: #ffffff;
  background-color: #ffc107;
  border-color: #fbe192;
  display: none;
}
/***********/

/*Custom Color*/
.black{
  background: #000000 !important;
}
.color-black{
  color: #000000 !important;
}
.brown{
  background: #640606 !important;
}
.color-brown{
  color: #640606 !important;
}
.red{
  background: #cb0000 !important;
}
.color-red{
  color: #cb0000 !important;
}
.orange{
  background: #ff5400 !important;
}
.color-orange{
  color: #ff5400 !important;
}
.green{
  background: #257409 !important;
}
.color-green{
    color: #257409 !important;
}
.white{
  background: #ffffff !important;
}
.color-white{
  color: #ffffff !important;
}
.color-gold{
  color: #ffd700 !important;
}
.gold{
  background: #ffd700 !important;
}
.border-orange{
  border: 1px solid #ff5400;
}
.hover-orange:hover{
  color: #fff !important;
  background: #ff5400;
}
/***********/

/*profilePage*/
.picture-div{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.profile-image{
  width: 150px;  
  height: 150px;
  border-radius: 10px !important;
  align-self: center;
}