body{
	overflow-x: hidden;
}

.social, .copyright{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.social-icons{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.social-icons li{
	list-style-type: none;
	margin-left: 15px;
}
/*Notification*/
.hide{
  display: none;
}
/* **************** */
/* Alerts */
.alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 99999999 !important;
}

.success {
  color: #fff;
  background-color: #38c100;
  border-color: #d6e9c6;
  display: none;
}

.failure {
  color: #fff;
  background-color: #bd0000;
  border-color: #ebccd1;
  display: none;
}

.warning {
  color: #ffffff;
  background-color: #ffc107;
  border-color: #fbe192;
  display: none;
}
/***********/